@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LookOn.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Form
@inject IHtmlLocalizer<LookOnResource> L
@model LookOn.Web.Pages.MerchantSocialCommunities.EditSocialCommunityModal
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/MerchantSocialCommunities/EditSocialCommunityModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="MerchantSocialCommunity.MerchantId" type="hidden"/>
            <abp-input asp-for="MerchantSocialCommunity.SocialCommunityName" label="@L["SocialCommunity.SocialCommunityName"].Value"/>
            <abp-input asp-for="MerchantSocialCommunity.SocialCommunityId" label="@L["SocialCommunity.SocialCommunityId"].Value"  readonly="true"/>
            <abp-input asp-for="MerchantSocialCommunity.Url" label="@L["SocialCommunity.Url"].Value"/>
            <abp-select asp-for="MerchantSocialCommunity.CommunityType" label="@L["SocialCommunity.CommunityType"].Value" />
            <abp-select asp-for="MerchantSocialCommunity.VerificationStatus" label="@L["SocialCommunity.VerificationStatus"].Value" />
            <abp-input asp-for="MerchantSocialCommunity.VerificationReason" label="@L["SocialCommunity.VerificationReason"].Value" />
            <abp-input asp-for="MerchantSocialCommunity.VerifiedAt" label="@L["SocialCommunity.VerifiedAt"].Value" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>