@using System.Globalization
@using LookOn.Consts
@using LookOn.Core.Consts
@using LookOn.Core.Extensions
@using LookOn.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@model LookOn.Dashboards.DashboardBase.EcomMetric_SummaryDto
@inject IHtmlLocalizer<LookOnResource> L
<abp-row>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="@Model.OrderGrowthPercent.GetColorBorderClass(Model.IsOrderCountPositive)">
            <abp-card-body>
                <abp-row>
                    <abp-column size-md="_12" class="margin-bottom-25">
                        <span class="veek-support-current-font ">@L["Page1.Overview.TotalOrders"]</span>
                    </abp-column>
                    <abp-column>
                        <h1 class="display-inline-bl font-size-40 font-weight-700">@Model.OrderCount.FormatNumber()</h1>
                        <span class="@Model.OrderGrowthPercent.GetColorClass(@Model.IsOrderCountPositive) display-inline-bl">
                            @if (@Model.OrderGrowthPercent is not 0)
                            {
                                <i class="@Model.OrderGrowthPercent.GetArrowClass()"></i>
                            }
                            @Model.OrderGrowthPercent.FormatNumber().ToPositivePercent()
                        </span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>
    </abp-column>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="@Model.PurchasedCustomerGrowthPercent.GetColorBorderClass(Model.IsPurchasedCustomerCountPositive)">
            <abp-card-body>
                <abp-row>
                    <abp-column size-md="_12" class="margin-bottom-25">
                        <span class="veek-support-current-font ">@L["Page1.Overview.PurchasedUsers"]</span>
                    </abp-column>
                    <abp-column>
                        <h1 class="display-inline-bl font-size-40 font-weight-700">@Model.PurchasedCustomerCount.FormatNumber()</h1>
                        <span class="@Model.PurchasedCustomerGrowthPercent.GetColorClass(@Model.IsPurchasedCustomerCountPositive) display-inline-bl">
                            @if (@Model.PurchasedCustomerGrowthPercent is not 0)
                            {
                                <i class="@Model.PurchasedCustomerGrowthPercent.GetArrowClass()"></i>
                            }
                            @Model.PurchasedCustomerGrowthPercent.FormatNumber().ToPositivePercent()
                        </span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>
    </abp-column>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="@Model.AOVGrowthPercent.GetColorBorderClass(@Model.IsAOVPositive)">
            <abp-card-body>
                <abp-row>
                    <abp-column size-md="_12" class="margin-bottom-25">
                        <span class="veek-support-current-font ">@L["Page1.Overview.AOV"]</span>
                    </abp-column>
                    <abp-column>
                        <h1 class="display-inline-bl font-size-40 font-weight-700">@Model.AOV.ToCommaStyle()</h1>
                        <span class="@Model.AOVGrowthPercent.GetColorClass(@Model.IsAOVPositive) display-inline-bl">
                            @if (@Model.PurchasedCustomerGrowthPercent is not 0)
                            {
                                <i class="@Model.AOVGrowthPercent.GetArrowClass()"></i>
                            }
                            @Model.AOVGrowthPercent.FormatNumber().ToPositivePercent()
                        </span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>
    </abp-column>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="@Model.CLVGrowthPercent.GetColorBorderClass(@Model.IsCLVPositive)">
            <abp-card-body>
                <abp-row>
                    <abp-column size-md="_12" class="margin-bottom-25">
                        <span class="veek-support-current-font ">@L["Page1.Overview.CLV"]</span>
                    </abp-column>
                    <abp-column>
                        <h1 class="display-inline-bl font-size-40 font-weight-700">@Model.CLV.ToCommaStyle()</h1>
                        <span class="@Model.CLVGrowthPercent.GetColorClass(@Model.IsCLVPositive) display-inline-bl">
                            @if (@Model.CLVGrowthPercent is not 0)
                            {
                                <i class="@Model.CLVGrowthPercent.GetArrowClass()"></i>
                            }
                            @Model.CLVGrowthPercent.FormatNumber().ToPositivePercent()
                        </span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>
    </abp-column>
</abp-row>
<abp-row>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="@Model.ReturnedOrderGrowthRatePercent.GetColorBorderClass(@Model.IsReturnedOrderRatePositive)">
            <abp-card-body>
                <abp-row>
                    <abp-column size-md="_12" class="margin-bottom-25">
                        <span class="veek-support-current-font ">@L["Page1.Overview.ReturnedOrderPercentage"]</span>
                    </abp-column>
                    <abp-column>
                        <h1 class="display-inline-bl font-size-40 font-weight-700">@Model.ReturnedOrderPercent.ToPositivePercent()</h1>
                        <span class="@Model.ReturnedOrderGrowthRatePercent.GetColorClass(@Model.IsRetentionRatePositive) display-inline-bl">
                            @if (@Model.ReturnedOrderGrowthRatePercent is not 0)
                            {
                                <i class="@Model.ReturnedOrderGrowthRatePercent.GetArrowClass()"></i>
                            }
                            @Model.ReturnedOrderGrowthRatePercent.FormatNumber().ToPositivePercent()
                        </span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>

    </abp-column>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="@Model.CancelledOrderGrowthPercent.GetColorBorderClass(@Model.IsCancelledOrderRatePositive)">
            <abp-card-body>
                <abp-row>
                    <abp-column size-md="_12" class="margin-bottom-25">
                        <span class="veek-support-current-font ">@L["Page1.Overview.CancelledOrders"]</span>
                    </abp-column>
                    <abp-column>
                        <h1 class="display-inline-bl font-size-40 font-weight-700">@Model.CancelledOrderPercent.ToPositivePercent()</h1>
                        <span class="@Model.CancelledOrderGrowthPercent.GetColorClass(@Model.IsCancelledOrderRatePositive) display-inline-bl">
                            @if (@Model.CancelledOrderGrowthPercent is not 0)
                            {
                                <i class="@Model.CancelledOrderGrowthPercent.GetArrowClass()"></i>
                            }
                            @Model.CancelledOrderGrowthPercent.FormatNumber().ToPositivePercent()
                        </span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>

    </abp-column>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="@Model.RetentionGrowthPercent.GetColorBorderClass(@Model.IsRetentionRatePositive)">
            <abp-card-body>
                <abp-row>
                    <abp-column size-md="_12" class="margin-bottom-25">
                        <span class="veek-support-current-font ">@L["Page1.Overview.RetentionRate"]</span>
                    </abp-column>
                    <abp-column>
                        <h1 class="display-inline-bl font-size-40 font-weight-700">@Model.RetentionPercent.ToPositivePercent()</h1>
                        <span class="@Model.RetentionGrowthPercent.GetColorClass(@Model.IsRetentionRatePositive) display-inline-bl">
                            @if (@Model.RetentionGrowthPercent is not 0)
                            {
                                <i class="@Model.RetentionGrowthPercent.GetArrowClass()"></i>
                            }
                            @Model.RetentionGrowthPercent.FormatNumber().ToPositivePercent()
                        </span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>

    </abp-column>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="@Model.AvgSKUGrowthPercent.GetColorBorderClass(@Model.IsAvgProductPositive)">
            <abp-card-body>
                <abp-row>
                    <abp-column size-md="_12" class="margin-bottom-25">
                        <span class="veek-support-current-font ">@L["Page1.Overview.AvgProductCountPerUser"]</span>
                    </abp-column>
                    <abp-column>
                        <h1 class="display-inline-bl font-size-40 font-weight-700">@Math.Round(Model.AvgProductCount, 2, MidpointRounding.AwayFromZero).ToString(CultureInfo.CreateSpecificCulture("en-US"))</h1>
                        <span class="@Model.AvgSKUGrowthPercent.GetColorClass(@Model.IsAvgProductPositive) display-inline-bl">
                            @if (@Model.AvgSKUGrowthPercent is not 0)
                            {
                                <i class="@Model.AvgSKUGrowthPercent.GetArrowClass()"></i>
                            }
                            @Model.AvgSKUGrowthPercent.FormatNumber().ToPositivePercent()
                        </span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>
    </abp-column>
</abp-row>