@* @model LookOn.TransactionInsights.CustomerInformationDto *@
@using LookOn.Core.Extensions
@using LookOn.Enums
@using LookOn.Localization
@using LookOn.Web.Pages.Shared
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.ProgressBar
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Table
@model LookOn.Dashboards.Page3.Page3SocialMetric_DemographicDto
@inject IHtmlLocalizer<LookOnResource> L

<script>
</script>

<abp-card>
    <abp-card-body>
        <abp-row class="mb-4">
            <abp-column size-md="_12" size-sm="_12">
                <div class="display-inline-bl font-size-30">@L["Page3.DashboardCustomerDetail.Title"]</div>
                <button type="button" class="btn display-inline-bl float-end shadow-none question-tooltip-margin" data-toggle="tooltip" data-popper-placement="left" title="@L["Page3.DashboardCustomerDetail.Hint"].Value">
                    @* <img src="~/images/icons/comment-question.png" alt="comment-question"/> *@
                    <span class="lo-help-icon"></span>
                </button>
            </abp-column>

            <abp-column size-xl="_4" size-md="_12" size-sm="_6" class="border-right-blue-bell">
                <abp-row class="center-component-chart">
                    <abp-column>
                        @if (Model.LikedPageNoPurchasedOrderUserCount is not 0 && Model.LikedPageNoPurchasedOrderUserPercent is not 0)
                        {
                            <h2 class="veek-positive-current-font display-inline-bl font-size-40 font-weight-700">
                                @Model.LikedPageNoPurchasedOrderUserPercent.ToPositivePercent()
                            </h2>
                        }
                        else
                        {
                            @await Html.PartialAsync("Shared/FeatureUpdatingPartial", new FeatureUpdatingModel() { HasContent = false }, ViewData)
                        }
                    </abp-column>
                    <abp-column size="_12">
                        <span class="veek-support-current-font ">@L["Page3.DashboardCustomerDetail.NoLikePage"]</span>
                    </abp-column>
                </abp-row>
            </abp-column>


            <abp-column size-xl="_4" size-md="_12" size-sm="_3" class="border-right-blue-bell">
                <abp-row class="center-component-chart">
                    <abp-column>
                        @if (Model.HouseOwnerCount is not 0 && Model.HouseOwnerPercent is not 0)
                        {
                            <h2 class="display-inline-bl font-size-40 font-weight-700">@Model.HouseOwnerCount.FormatNumber()</h2>
                            <b class="veek-positive-current-font display-inline-bl">
                                @Model.HouseOwnerPercent.ToPositivePercent()
                            </b>
                        }
                        else
                        {
                            @await Html.PartialAsync("Shared/FeatureUpdatingPartial", new FeatureUpdatingModel() { HasContent = false }, ViewData)
                        }
                    </abp-column>
                    <abp-column size="_12">
                        <span class="veek-support-current-font ">@L["Page3.DashboardCustomerDetail.HadHouse"]</span>
                    </abp-column>
                </abp-row>
            </abp-column>


            <abp-column size-xl="_4" size-md="_12" size-sm="_3">
                <abp-row class="center-component-chart">
                    <abp-column>
                        @if (Model.CarOwnerCount is not 0 && Model.CarOwnerPercent is not 0)
                        {
                            <h2 class="display-inline-bl font-size-40 font-weight-700">@Model.CarOwnerCount.FormatNumber()</h2>
                            <b class="veek-positive-current-font display-inline-bl">
                                @Model.CarOwnerPercent.ToPositivePercent()
                            </b>
                        }
                        else
                        {
                            @await Html.PartialAsync("Shared/FeatureUpdatingPartial", new FeatureUpdatingModel() { HasContent = false }, ViewData)
                        }
                    </abp-column>
                    <abp-column size="_12">
                        <span class="veek-support-current-font ">@L["Page3.DashboardCustomerDetail.HadCar"]</span>
                    </abp-column>
                </abp-row>
            </abp-column>

        </abp-row>
        <abp-row>
            <abp-column size-md="_12" size-xl="_4" size-sm="_12">
                <div style="font-weight: 600" class="veek-support-current-font">@L["Page3.DashboardCustomerDetail.CustomerAgeTitle"]</div>
                <abp-table border-style="Borderless" striped-rows="false" class="table-top-border-none">
                    <tbody>
                    @if (Model.AgeMetrics is not null && Model.AgeMetrics.Any(_ => _.AgeSegmentEnum is not AgeSegmentEnum.Age_1_17 and not AgeSegmentEnum.Age_65_Above))
                    {
                        @foreach (var item in Model.AgeMetrics.Where(_ => _.AgeSegmentEnum is not AgeSegmentEnum.Age_1_17 and not AgeSegmentEnum.Age_65_Above).OrderBy(_ => _.AgeSegmentEnum))
                        {
                            <tr>
                                <td>@L[$"Enum:AgeSegmentEnum:{item.AgeSegmentEnum.ToInt()}"]</td>
                                <td style="min-width: 200px">
                                    <abp-progress-bar value="@item.Percent.ToDouble()" class="LookOn-progress-bar-color-0"/>
                                </td>
                                <td>
                                    @item.Percent.ToPositivePercent()
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                                @await Html.PartialAsync("Shared/FeatureUpdatingPartial", new FeatureUpdatingModel() { HasContent = true }, ViewData)
                            </td>
                        </tr>
                    }
                    </tbody>
                </abp-table>
            </abp-column>
            <abp-column size-xl="_4" size-md="_6" size-sm="_12">
                <div id="maleChart"></div>
            </abp-column>
            <abp-column size-xl="_4" size-md="_6" size-sm="_12">
                <div id="relationshipChart"></div>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>