@page "/segment-insight"
@using LookOn.Core.Extensions
@using LookOn.Core.Helpers
@using LookOn.Enums
@using LookOn.Localization
@using LookOn.Web.Menus
@using LookOn.Web.Pages.Shared
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Collapse
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@using Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.Users
@model LookOn.Web.Pages.SegmentInsights.Index

@inject IHtmlLocalizer<LookOnResource> L
@inject ICurrentUser CurrentUser
@inject IPageLayout PageLayout

@{
    PageLayout.Content.MenuItemName = LookOnMenus.SegmentInsight;
}

@section scripts {
    @if (Model.IsActiveSubscription || !Model.IsEndTrial)
    {
        <abp-script src="/Pages/SegmentInsights/Index.js"/>
    }
    else
    {
        <abp-script src="/Pages/MerchantSubscriptions/CheckSubscription.js"/>
    }
}

@if (Model.IsCommunityIntegration)
{
    @if (Model.IsCommunityVerified)
    {
        @await Html.PartialAsync("Shared/NotificationUpdatingPartial", new NotificationUpdatingModel { IsNotificationAccepted = Model.IsNotificationAccepted }, ViewData)
        <abp-row class="mb-3">
            <abp-column size-md="_12" class="justify-content-center">
                <abp-row>
                    <div class="font-size-25 float-start">@L["Page3.Title"]</div>
                </abp-row>
                <abp-row>
                    <div style="font-size: 30px; margin-bottom: 10px">
                        <b>@Model.Merchant?.Name</b>
                    </div>
                </abp-row>
            </abp-column>
        </abp-row>

        if (!Model.IsTrial)
        {
            <abp-row>
                <abp-column>
                    <button type="button" class="btn btn-border-radius-20 veek-support-color-1-background btn-hover-color-white" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-page3-setting collapse-page3-button" data-bs-target=".multi-collapse" style="border-color: #00000026;">
                        <i class="fa fa-sliders"></i><span> @L["Page3.Setting"]</span>
                    </button>
                    <abp-comlumn class="collapse multi-collapse">
                        <abp-button class="btn-border-radius-20 veek-support-color-1-background btn-hover-color-white" style="border-color: #00000026;" id="filterClear" icon="trash" text="@L["Page3.Clear"].Value"/>
                    </abp-comlumn>
                    <abp-comlumn class="collapse multi-collapse" id="collapse-page3-button">
                        <abp-button class="btn-border-radius-20 veek-support-color-1-background btn-hover-color-white" style="border-color: #00000026;" id="filterSearch" icon="search" text="@L["Page3.Search"].Value"/>
                    </abp-comlumn>
                    <abp-collapse-body class="collapse multi-collapse" style="margin-top: 20px; position: relative;" id="collapse-page3-setting">
                        <div id="filter-disable">
                        </div>
                        <div>
                            <abp-row>
                                <abp-column class="col-md-20" style="padding-left: 30px">
                                    <abp-row class="mb-2">
                                        <h5 class="veek-support-current-font">@L["Page3.Filter.Gender"]</h5>
                                    </abp-row>
                                    @foreach (var gender in Enum.GetValues(typeof(GenderType)).Cast<GenderType>())
                                    {
                                        <abp-row>
                                            <div class="mb-2 form-check">
                                                <input type="checkbox" data-value="@gender.ToInt()" name="@gender.GetName()" class="gender-group form-check-input">
                                                <label class="form-check-label" for="@gender.ToInt()">@L[$"Enum:GenderType:{gender.ToInt()}"]</label>
                                            </div>
                                        </abp-row>
                                    }
                                </abp-column>
                                <abp-column class="col-md-16">
                                    <abp-row class="mb-2">
                                        <h5 class="veek-support-current-font">@L["Page3.Filter.Relationship"]</h5>
                                    </abp-row>
                                    @foreach (var relationship in Enum.GetValues(typeof(RelationshipStatus)).Cast<RelationshipStatus>())
                                    {
                                        <abp-row>
                                            <div class="mb-2 form-check">
                                                <input type="checkbox" data-value="@relationship.ToInt()" name="@relationship.GetName()" class="relationship-group form-check-input">
                                                <label class="form-check-label" for="@relationship.ToInt()">@L[$"Enum:RelationshipStatus:{relationship.ToInt()}"]</label>
                                            </div>
                                        </abp-row>
                                    }
                                </abp-column>

                                <abp-column class="col-md-16">
                                    <abp-row class="mb-2">
                                        <h5 class="veek-support-current-font">@L["Page3.Filter.Age"]</h5>
                                    </abp-row>
                                    @foreach (var age in Enum.GetValues(typeof(AgeSegmentEnum)).Cast<AgeSegmentEnum>())
                                    {
                                        <abp-row>
                                            <div class="mb-2 form-check">
                                                <input type="checkbox" data-value="@age.ToInt()" name="@age.GetName()" class="age-group form-check-input">
                                                <label class="form-check-label" for="@age.ToInt()">@L[$"Enum:AgeSegmentEnum:{age.ToInt()}"]</label>
                                            </div>
                                        </abp-row>
                                    }
                                </abp-column>

                                <abp-column class="col-md-16">
                                    <abp-row class="mb-2">
                                        <h5 class="veek-support-current-font">@L["Page3.Filter.Province"]</h5>
                                    </abp-row>
                                    @foreach (var cityName in CityHelper.CityNames.Take(5))
                                    {
                                        <abp-row>
                                            <div class="mb-2 form-check">
                                                <input type="checkbox" data-value="@cityName" name="@cityName" class="city-group form-check-input">
                                                <label class="form-check-label" for="@cityName">@cityName</label>
                                            </div>
                                        </abp-row>
                                    }
                                    <abp-row>
                                        <!-- Button trigger modal -->
                                        <abp-column>
                                            <button id="openProvinceModal" type="button" data-bs-toggle="modal" data-bs-target="#provinceModal" class="abp-btn-custom shadow-none">
                                                @L["SeeAll"] <i class="fa fa-angle-right"></i>
                                            </button>
                                        </abp-column>

                                        <!-- Modal -->
                                        <div class="modal fade" id="provinceModal" tabindex="-1" role="dialog" aria-labelledby="provinceModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                                                <div class="modal-content" style="border-radius: 20px;padding: 20px 0 0 40px;">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">@L["Page3.Filter.ProvinceModalTitle"]</h4>
                                                    </div>
                                                    <div style="column-count: 4; padding-top: 10px;" class="modal-body">
                                                        @foreach (var (_, value) in CityHelper.Names.Skip(1))
                                                        {
                                                            <abp-row class="mb-3">
                                                                <div class="form-check">
                                                                    <input type="checkbox" data-value="@value.FirstOrDefault()" name="@value.FirstOrDefault()" class="city-group-modal form-check-input">
                                                                    <label class="form-check-label" for="@value.FirstOrDefault()">@value.FirstOrDefault()</label>
                                                                </div>
                                                            </abp-row>
                                                        }
                                                    </div>
                                                    <div class="modal-footer footer-province-modal">
                                                        <div style="display: inherit;">
                                                            @* <label id="provinceToggle" class="switch" style="margin-top: 3px;"> *@
                                                            @*     <input type="checkbox"> *@
                                                            @*     <span class="slider round"></span> *@
                                                            @* </label> *@
                                                            @* <div style="padding-left: 5px;">Chọn tất cả</div> *@
                                                            @* <div class="form-check"> *@
                                                            @*     <input id="provinceToggleModal" type="checkbox" class="form-check-input"> *@
                                                            @*     <label class="form-check-label">Chọn tất cả</label> *@
                                                            @* </div> *@
                                                            <div class="dx-fieldset" style="margin: 0">
                                                                <div class="dx-field display-webkit-inline">
                                                                    <div id="provinceToggleValue" class="dx-field-value">
                                                                        <div id="provinceToggleModal"></div>
                                                                    </div>
                                                                    <div class="label-dx-switch">@L["ChooseAll"]</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="padding-right: 8%;">
                                                            <button type="button" class="btn btn-border-radius-20 LookOn-color-14 btn-hover-color-14" data-bs-dismiss="modal">@L["Exit"]</button>
                                                            <button id="provinceModalSave" type="button" class="btn btn-dark btn-border-radius-20 btn-hover-color-black" data-bs-dismiss="modal">@L["Save"]</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </abp-row>
                                </abp-column>

                                <abp-column class="col-md-16">
                                    <abp-row class="mb-2">
                                        <h5 class="veek-support-current-font">@L["Page3.Filter.CarOwnership"]</h5>
                                    </abp-row>
                                    <div>
                                        <abp-row class="mb-2">
                                            <div class="custom-control custom-control-inline">
                                                <input type="radio" data-value="0" name="CarRadio" class="car-group custom-control-input radio-size-1-3">
                                                <label class="custom-control-label">@L["Page3.HasCard"]</label>
                                            </div>
                                        </abp-row>
                                        <abp-row class="mb-2">
                                            <div class="custom-control custom-control-inline">
                                                <input type="radio" data-value="1" name="CarRadio" class="car-group custom-control-input radio-size-1-3">
                                                <label class="custom-control-label">@L["Page3.NoCard"]</label>
                                            </div>
                                        </abp-row>
                                        <abp-row class="mb-2">
                                            <div class="custom-control custom-control-inline">
                                                <input type="radio" data-value="2" name="CarRadio" class="car-group custom-control-input radio-size-1-3">
                                                <label class="custom-control-label">@L["Page3.Both"]</label>
                                            </div>
                                        </abp-row>
                                    </div>
                                </abp-column>

                                <abp-column class="col-md-16">
                                    <abp-row class="mb-2">
                                        <h5 class="veek-support-current-font">@L["Page3.Filter.HouseOwnership"]</h5>
                                    </abp-row>
                                    <div>
                                        <abp-row class="mb-2">
                                            <div class="custom-control custom-control-inline">
                                                <input type="radio" data-value="0" name="HouseRadio" class="house-group custom-control-input radio-size-1-3">
                                                <label class="custom-control-label">@L["Page3.HasCard"]</label>
                                            </div>
                                        </abp-row>
                                        <abp-row class="mb-2">
                                            <div class="custom-control custom-control-inline">
                                                <input type="radio" data-value="1" name="HouseRadio" class="house-group custom-control-input radio-size-1-3">
                                                <label class="custom-control-label">@L["Page3.NoCard"]</label>
                                            </div>
                                        </abp-row>
                                        <abp-row class="mb-2">
                                            <div class="custom-control custom-control-inline">
                                                <input type="radio" data-value="2" name="HouseRadio" class="house-group custom-control-input radio-size-1-3">
                                                <label class="custom-control-label">@L["Page3.Both"]</label>
                                            </div>
                                        </abp-row>
                                    </div>
                                </abp-column>
                            </abp-row>
                        </div>
                    </abp-collapse-body>
                </abp-column>
            </abp-row>
            <div id="segmentInsightBody"></div>
            <abp-row class="text-center sticky-bottom">
                <abp-column>
                    <a class="btn btn-outline-dark display-inline-bl" style="float: right" href="#">
                        <i class="fas fa-2x fa-angle-up"></i>
                    </a>
                </abp-column>
            </abp-row>
        }
        else
        {
            <abp-card class="notification-card">
                <abp-card-body class="text-center card-body">
                    <h2>@L["Trial.Header"]</h2>
                    <div>@L["Trial.Content"]</div>
                    <a href="https://lookon.vn/" target="_blank">lookon.vn</a>
                </abp-card-body>
            </abp-card>
        }
    }
    else
    {
        @await Html.PartialAsync("Shared/CommunityNoVerifyNotification", null, ViewData)
    }
}
else
{
    @await Html.PartialAsync("Shared/CommunityIntegrationNotificationModal", new CommunityIntegrationNotificationModel { IsCommunityIntegration = false }, ViewData)
}