@using LookOn.Core.Consts
@using LookOn.Core.Extensions
@using LookOn.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@model LookOn.Dashboards.Page2.Page2Metric_SocialInsightDto
@inject IHtmlLocalizer<LookOnResource> L
<abp-row>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="card-border-top-color-green">
            <abp-card-body>
                <abp-row>
                    <abp-column>
                        @if (Model.NonPurchasedUserCount is 0)
                        {
                            <h2 class="display-inline-bl font-size-40 font-weight-700">&nbsp;</h2>
                        }
                        else
                        {
                            <h2 class="text-black display-inline-bl font-size-40 font-weight-700">@Model.NonPurchasedUserPercent.ToPositivePercent()</h2>
                        }
                        <div class="mb-3">
                            <abp-progress-bar value="@Model.NonPurchasedUserPercent.ToDouble()" class="LookOn-progress-bar-color-0"/>
                        </div>
                    </abp-column>
                    <abp-column size-md="_12">
                        <span class="veek-support-current-font ">@L["Page2.Overview.NoProductUser"]</span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>
    </abp-column>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="card-border-top-color-green">
            <abp-card-body>
                <abp-row data-toggle="tooltip" title=@L["Page2.Overview.TopSocialCommunityByKOC"]>
                    <abp-column>
                        <h2 class="text-black display-inline-bl font-size-40 font-weight-700">@(Model.TopLikedPageName.IsNullOrSpace()? "---" :Model.TopLikedPagePercent.ToPositivePercent())</h2>
                        <div class="mb-3">
                            <abp-progress-bar value="@Model.TopLikedPagePercent.ToDouble()" class="LookOn-progress-bar-color-0"/>
                        </div>
                    </abp-column>
                    <abp-column size-md="_12">
                        <span class="veek-support-current-font ">@(Model.TopLikedPageName.IsNullOrSpace() ? L["Page2.Overview.DataNotReady"] : L["Page2.Overview.TopLikedPage",Model.TopLikedPageName]) </span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>
    </abp-column>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="card-border-top-color-green">
            <abp-card-body>
                <abp-row data-toggle="tooltip" title=@L["Page2.Overview.MostPopularSegmentTitle"]>
                    <abp-column>
                        <h2 class="text-black display-inline-bl font-size-40 font-weight-700 cursor-pointer">@(Model.MostPopularSegmentName.IsNullOrSpace() ? "---" :Model.MostPopularSegmentPercent.ToPositivePercent())</h2>
                        <div class="mb-3">
                            <abp-progress-bar value="@Model.MostPopularSegmentPercent.ToDouble()" class="LookOn-progress-bar-color-0"/>
                        </div>
                    </abp-column>
                    <abp-column size-md="_12">
                        <span class="veek-support-current-font ">@(Model.MostPopularSegmentName.IsNullOrSpace() ? L["Page2.Overview.DataNotReady"]: L["Page2.Overview.MostPopularSegment",Model.MostPopularSegmentName])</span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>
    </abp-column>
    <abp-column size-xl="_3" size-md="_6" size-sm="_6">
        <abp-card class="card-border-top-color-green">
            <abp-card-body>
                <abp-row data-toggle="tooltip" title=@L["Page2.Overview.LessInterestSegmentTitle"]>
                    <abp-column>
                        <h2 class="text-black display-inline-bl font-size-40 font-weight-700">@(Model.LessInterestSegmentName.IsNullOrSpace() ? "---" : Model.LessInterestSegmentPercent.ToPositivePercent())</h2>
                        <div class="mb-3">
                            <abp-progress-bar value="@Model.LessInterestSegmentPercent.ToDouble()" class="LookOn-progress-bar-color-0"/>
                        </div>
                    </abp-column>
                    <abp-column size-md="_12">
                        <span class="veek-support-current-font ">@(Model.LessInterestSegmentName.IsNullOrSpace() ? L["Page2.Overview.DataNotReady"]: L["Page2.Overview.LessInterestSegment",Model.LessInterestSegmentName])</span>
                    </abp-column>
                </abp-row>
            </abp-card-body>
        </abp-card>
    </abp-column>
</abp-row>