@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LookOn.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LookOn.Web.Pages.Merchants
@using LookOn.Merchants;
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Form
@inject IHtmlLocalizer<LookOnResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Merchants/CreateModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["NewMerchant"].Value"></abp-modal-header>

        <abp-modal-body>
            
            <abp-input asp-for="Merchant.Name"/>

            <abp-input asp-for="Merchant.Phone"/>

            <abp-input asp-for="Merchant.Address"/>

            <abp-input asp-for="Merchant.Email"/>

            <abp-input asp-for="Merchant.Fax"/>

                        <label for="AppUser_Email">@L["OwnerAppUser"] *</label>
            <div class="input-group mb-3">
                <input hidden value="@(Model.Merchant.OwnerAppUserId  == default ? "": Model.Merchant.OwnerAppUserId.ToString()
)" id="AppUser_Id" name="Merchant.OwnerAppUserId"/>
                <input type="text" id="AppUser_Email" class="form-control" disabled>
                <abp-button button-type="Info" id="AppUserLookupOpenButton" class="text-light">@L["Pick"]</abp-button>
                <abp-button button-type="Danger" class="lookupCleanButton ms-1"><i class="fa fa-times"></i></abp-button>
            </div>
            <abp-select asp-for="Merchant.CategoryId" asp-items="Model.CategoryLookupList" label="@L["Category"].Value"/>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>