@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LookOn.Localization
@using LookOn.Web.Pages.MerchantStores
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LookOn.MerchantStores;
@using System.Globalization
@inject IHtmlLocalizer<LookOnResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/MerchantStores/EditModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="Id" />
            
            <abp-input asp-for="MerchantStore.Name"/>

            <abp-input asp-for="MerchantStore.Code"/>

            <abp-input asp-for="MerchantStore.Active"/>

                        <label for="Merchant_Name">@L["Merchant"] </label>
            <div class="input-group mb-3">
                <input hidden value="@(Model.MerchantStore.MerchantId  )" id="Merchant_Id" name="MerchantStore.MerchantId"/>
                <input type="text" id="Merchant_Name" class="form-control" value="@Model.Merchant?.Name" disabled>
                <abp-button button-type="Info" id="MerchantLookupOpenButton" class="text-light">@L["Pick"]</abp-button>
                <abp-button button-type="Danger" class="lookupCleanButton ms-1"><i class="fa fa-times"></i></abp-button>
            </div>
            <abp-select asp-for="MerchantStore.PlatformId" asp-items="Model.PlatformLookupList" label="@L["Platform"].Value"/>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>