@using LookOn.Core.Extensions
@using LookOn.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model LookOn.Web.Pages.Shared.FeatureUpdatingModel
@inject IHtmlLocalizer<LookOnResource> L

<div class="text-center">
    @if (Model.HasContent)
    {
        <div>
            <img src="~/images/Img_240_shopping_girl.png" width="auto" height="150px" alt=""/>
        </div>
        <div>
            <div>@L["FeatureUpdating.Header"]</div>
            <button data-bs-toggle="modal" data-bs-target="#updatingModal" style="border: none;background-color: white;">
                <i class="lo-info-circle-icon"></i><span style="vertical-align: middle;"> Tìm hiểu thêm</span>
            </button>
        </div>
    }
    else
    {
        @if (Model.IsInverse)
        {
            <div style="display: flex;align-items: center;justify-content: flex-end;">
                @if (Model.HasImage)
                {
                    <div>
                        <img src="~/images/Img_240_shopping_girl.png" width="auto" height="68px" alt=""/>
                    </div>
                }
                <div>
                    <div>
                        <button data-bs-toggle="modal" data-bs-target="#updatingModal" style="border: none;background-color: white;">
                            <i class="lo-info-circle-icon"></i>
                            <b class="underline-hover">@L["FeatureUpdating.Header"]</b>
                        </button>
                    </div>
                    @* <button data-bs-toggle="modal" data-bs-target="#updatingModal" style="border: none;background-color: white;"> *@
                    @*     <i class="lo-info-circle-icon"></i><span style="vertical-align: middle;"> Tìm hiểu thêm</span> *@
                    @* </button> *@
                </div>
            </div>
        }
        else
        {
            <div style="display: flex;align-items: center;justify-content: center;">
                @if (Model.HasImage)
                {
                    <div>
                        <img style="float: right; margin-right: 10%" src="~/images/Img_240_shopping_girl.png" width="auto" height="68px" alt=""/>
                    </div>
                }
                <div>
                    <div>
                        <button data-bs-toggle="modal" data-bs-target="#updatingModal" style="border: none;background-color: white;">
                            <b class="underline-hover">@L["FeatureUpdating.Header"]</b>
                            <i class="lo-info-circle-icon"></i>
                        </button>
                    </div>
                    @if (Model.Title.IsNotNullOrEmpty())
                    {
                        <div class="mt-3">
                            <span class="veek-support-current-font ">@Model.Title</span>
                        </div>
                    }
                </div>
            </div>
        }
    }
    <div class="modal fade" id="updatingModal" tabindex="-1" role="dialog" aria-labelledby="updatingModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content" style="border-radius: 20px;">
                <div style="display: flex;align-items: center;padding-bottom: 5%;padding-top: 5%;" class="modal-body">
                    <div style="padding-left: 5%;flex-basis: 10%">
                        <img src="~/images/Img_240_shopping_girl.png" width="auto" height="200px" alt=""/>
                    </div>
                    <div style="text-align: left;padding-left: 3%">
                        <h3 style="padding-bottom: 2%">@L["FeatureUpdating.Header"]</h3>
                        <p style="padding-bottom: 2%">@L["FeatureUpdating.Content"]</p>
                        <abp-button class="btn-common-custom" data-bs-dismiss="modal">Tôi đã hiểu</abp-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>