@page
@using LookOn.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model LookOn.Web.Pages.Shared.FeedbackModel
@inject IHtmlLocalizer<LookOnResource> L

@{
    Layout = null;
}
<script type="text/javascript" src="~/Pages/Shared/feedback.js"></script>
<div id="feedback-rating">
    <abp-modal centered="true" size="Large" style="border-radius: 20px">
        <abp-modal-body style="border-radius: 20px">
            <abp-row>
                <abp-column offset-sm="_1">
                    <h1 class="mt-3">
                        @L["Feedback.Rating.Title"]
                    </h1>
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column offset-sm="_1">
                    <p class="mt-2" style="font-size: 16px">
                        @L["Feedback.Rating.Content"]
                    </p>
                </abp-column>
            </abp-row>
            <div class="mt-3 mb-5">
                <abp-row>
                    <abp-column offset-sm="_1" size-sm="_2">
                        <button class="abp-btn-custom feedback-rating-btn" style="border: 1px solid #F7D3D8;background: #FCEDEF;border-radius: 16px" value="1" data-bs-dismiss="modal">
                            <img class="mt-4 mb-3" src="images/icons/feedback-icon/Img_80_Rating_face_1.png" alt="" width="60" height="60">
                            <div class="mb-2">@L["Feedback.Rating.Bad"]</div>
                        </button>
                    </abp-column>
                    <abp-column size-sm="_2">
                        <button class="abp-btn-custom feedback-rating-btn" style="border: 1px solid #F7D3D8;background: #FCEDEF;border-radius: 16px" value="2" data-bs-dismiss="modal">
                            <img class="mt-4 mb-3" src="images/icons/feedback-icon/Img_80_Rating_face_2.png" alt="" width="60" height="60">
                            <div class="mb-2">@L["Feedback.Rating.Poor"]</div>
                        </button>
                    </abp-column>
                    <abp-column size-sm="_2">
                        <button class="abp-btn-custom feedback-rating-btn" style="border: 1px solid #F6EED1;background: #FBF8EC;border-radius: 16px" value="3" data-bs-dismiss="modal">
                            <img class="mt-4 mb-3" src="images/icons/feedback-icon/Img_80_Rating_face_3.png" alt="" width="60" height="60">
                            <div class="mb-2">@L["Feedback.Rating.Average"]</div>
                        </button>
                    </abp-column>
                    <abp-column size-sm="_2">
                        <button class="abp-btn-custom feedback-rating-btn" style="border: 1px solid #E5F3D3;background: #F4FAED;border-radius: 16px" value="4" data-bs-dismiss="modal">
                            <img class="mt-4 mb-3" src="images/icons/feedback-icon/Img_80_Rating_face_4.png" alt="" width="60" height="60">
                            <div class="mb-2">@L["Feedback.Rating.Great"]</div>
                        </button>
                    </abp-column>
                    <abp-column size-sm="_2">
                        <button class="abp-btn-custom feedback-rating-btn" style="border: 1px solid #E5F3D3;background: #F4FAED;border-radius: 16px" value="5" data-bs-dismiss="modal">
                            <img class="mt-4 mb-3" src="images/icons/feedback-icon/Img_80_Rating_face_5.png" alt="" width="60" height="60">
                            <div class="mb-2">@L["Feedback.Rating.Excellent"]</div>
                        </button>
                    </abp-column>
                </abp-row>
                @* <div> *@
                @*     <button class="abp-btn-custom feedback-rating-btn" style="border: 1px solid #F7D3D8;background: #FCEDEF;border-radius: 16px"> *@
                @*         <img class="mt-4 mb-3" src="images/icons/feedback-icon/Img_80_Rating_face_1.png" alt=""> *@
                @*         <div>@L["Feedback.Rating.Bad"]</div> *@
                @*     </button> *@
                @* </div> *@
                @* <div> *@
                @*     <button class="abp-btn-custom feedback-rating-btn" style="border: 1px solid #F7D3D8;background: #FCEDEF;border-radius: 16px"> *@
                @*         <img class="mt-4 mb-3" src="images/icons/feedback-icon/Img_80_Rating_face_2.png" alt=""> *@
                @*         <div>@L["Feedback.Rating.Poor"]</div> *@
                @*     </button> *@
                @* </div> *@
                @* <div> *@
                @*     <button class="abp-btn-custom feedback-rating-btn" style="border: 1px solid #F6EED1;background: #FBF8EC;border-radius: 16px"> *@
                @*         <img class="mt-4 mb-3" src="images/icons/feedback-icon/Img_80_Rating_face_3.png" alt=""> *@
                @*         <div>@L["Feedback.Rating.Average"]</div> *@
                @*     </button> *@
                @* </div> *@
                @* <div> *@
                @*     <button class="abp-btn-custom feedback-rating-btn" style="border: 1px solid #E5F3D3;background: #F4FAED;border-radius: 16px"> *@
                @*         <img class="mt-4 mb-3" src="images/icons/feedback-icon/Img_80_Rating_face_4.png" alt=""> *@
                @*         <div>@L["Feedback.Rating.Great"]</div> *@
                @*     </button> *@
                @* </div> *@
                @* <div> *@
                @*     <button class="abp-btn-custom feedback-rating-btn" style="border: 1px solid #E5F3D3;background: #F4FAED;border-radius: 16px"> *@
                @*         <img class="mt-4 mb-3" src="images/icons/feedback-icon/Img_80_Rating_face_5.png" alt=""> *@
                @*         <div>@L["Feedback.Rating.Excellent"]</div> *@
                @*     </button> *@
                @* </div> *@
            </div>
        </abp-modal-body>
        @* <div class="modal-footer"> *@
        @*     <button id="feedbackRatingButton" type="button" class="btn btn-dark btn-hover-color-14" data-bs-dismiss="modal">@L["Feedback.Rating.Button"]</button> *@
        @* </div> *@
    </abp-modal>
</div>

@* <div id="feedback-review"> *@
@*     <abp-modal size="Large"> *@
@*         <abp-modal-body> *@
@*             <h2> *@
@*                 @L["Dashboard.SocialCommunityRequired.Title"] *@
@*             </h2> *@
@*             <p> *@
@*                 @L["Dashboard.SocialCommunityRequired.Content"] *@
@*             </p> *@
@*         </abp-modal-body> *@
@*         <div class="modal-footer"> *@
@*             <button id="feedbackReviewButton" type="button" class="btn btn-dark btn-hover-color-14" data-bs-dismiss="modal">@L["Dashboard.SocialCommunityRequired.RedirectButton"]</button> *@
@*         </div> *@
@*     </abp-modal> *@
@* </div> *@