@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LookOn.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model LookOn.Web.Pages.MerchantSubscriptions.CheckSubscription
@inject IHtmlLocalizer<LookOnResource> L
@{
    Layout = null;
}
<div class="customer-modal-center">

    <abp-modal size="Large">
        @* <abp-modal-header title="@L["Subscription.WarningMessage.Title"].Value"></abp-modal-header> *@

        <abp-modal-body>
            <h2>@L["Subscription.WarningMessage.Title"].Value</h2>
            <hr class="divider"/>
            <section class="content-subscription-notify">
                @L["Subscription.WarningMessage.Content1"]
            </section>
            <br/>
            <section class="content-subscription-notify">
                @L["Subscription.WarningMessage.Content2"]
            </section>
            <br/>
            <span>@L["Phone"]: 0902 882 355 </span><br/>
            @L["Subscription.WarningMessage.AccessText"] <a class="veek-negative-current-font" href="https://lookon.vn" target="_blank">https://lookon.vn</a>
        </abp-modal-body>
        <abp-modal-footer buttons="Close">
        </abp-modal-footer>
    </abp-modal>
</div>