@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LookOn.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LookOn.Web.Pages.MerchantSubscriptions
@using LookOn.MerchantSubscriptions;
@using System.Globalization
@inject IHtmlLocalizer<LookOnResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/MerchantSubscriptions/CreateModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["NewMerchantSubscription"].Value"></abp-modal-header>

        <abp-modal-body>
            
            <abp-input asp-for="MerchantSubscription.StartDateTime" value="" type="date"/>

            <abp-input asp-for="MerchantSubscription.EndDateTime" value="" type="date"/>

            <abp-select asp-for="MerchantSubscription.SubscriptionType"/>

            <abp-select asp-for="MerchantSubscription.SubscriptionStatus"/>

            <abp-input asp-for="MerchantSubscription.NotificationDate" value="" type="date"/>

            <abp-input asp-for="MerchantSubscription.NotificationSent"/>

            <abp-input asp-for="MerchantSubscription.NotificationSentAt" value="" type="date"/>

                        <label for="Merchant_Name">@L["Merchant"] *</label>
            <div class="input-group mb-3">
                <input hidden value="@(Model.MerchantSubscription.MerchantId  == default ? "": Model.MerchantSubscription.MerchantId.ToString()
)" id="Merchant_Id" name="MerchantSubscription.MerchantId"/>
                <input type="text" id="Merchant_Name" class="form-control" disabled>
                <abp-button button-type="Info" id="MerchantLookupOpenButton" class="text-light">@L["Pick"]</abp-button>
                <abp-button button-type="Danger" class="lookupCleanButton ms-1"><i class="fa fa-times"></i></abp-button>
            </div>

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>