@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LookOn.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Form
@inject IHtmlLocalizer<LookOnResource> L
@model LookOn.Web.Pages.Terms.TermModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Terms/TermModal" autocomplete="off">
    <abp-modal size="ExtraLarge">
        <abp-modal-header style="padding-bottom: 0;">
            <h2 style="margin: 0;">
                @L["Terms.Title"].Value
            </h2>
        </abp-modal-header>

        <abp-modal-body>
            @* <h1 class="text-center">@L["Terms.Title"].Value</h1> *@
            @* <hr class="divider"/> *@

            <abp-row class="mb-4">
                <section class="content-term">
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>Nguyên tắc chung</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>Ứng dụng phân tích khách hàng LookOn (sau đây gọi là&nbsp;<strong>“LookOn.vn”</strong>) do Công ty Cổ phần Công Nghệ Datalytis làm chủ sở hữu. LookOn.vn là ứng dụng trên nền tảng Haravan và một số nền tảng thương mại điện tử khác, giúp cho người dùng có thể phân tích được tập khách hàng và insight.<br><br>Thành viên tham gia LookOn.vn là các cá nhân, tổ chức đã đăng ký thành viên và các cá nhân, tổ chức vãng lai đã kê khai thông tin bắt buộc được Sàn LookOn.vn chính thức công nhận và cho phép sử dụng dịch vụ do LookOn.vn cung cấp.<br><br>Thành viên tham gia LookOn.vn được quyền tự do tìm hiểu và thỏa thuận với bên có nhu cầu trên cơ sở tôn trọng quyền và lợi ích hợp pháp của các bên.<br><br>Mọi hoạt động được thực hiện tại LookOn.vn được thực hiện một cách tự do, bình đẳng, công khai, minh bạch và đảm bảo quyền lợi hợp pháp của thành viên.</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>II.&nbsp;&nbsp; &nbsp;Quy định chung</strong><br><br><strong>1.&nbsp;&nbsp; &nbsp;Đối tượng áp dụng</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>Quy chế này được xây dựng trên cơ sở tuân thủ pháp luật Việt Nam hiện hành và áp dụng cho các thành viên đăng ký tham gia, sử dụng dịch trên LookOn.vn<br><br>Thành viên khi tham gia vào LookOn.vn có trách nhiệm nghiên cứu kỹ quy chế hoạt động của LookOn.vn và chịu trách nhiệm pháp lý đối với mọi hoạt động đã đăng trên LookOn.vn.</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>2.&nbsp;&nbsp; &nbsp;Phạm vi điều chỉnh</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>Quy chế này quy định mục đích và nguyên tắc hoạt động của LookOn.vn. Đồng thời, quy định những nguyên tắc xử sự chung của các thành viên tham gia và sử dụng dịch vụ trên LookOn.vn</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>II.&nbsp;&nbsp; &nbsp;Quy trình giải quyết tranh chấp, khiếu nại</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>1.&nbsp;&nbsp; &nbsp;Nguyên tắc giải quyết tranh chấp, khiếu nại</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>–&nbsp;&nbsp; &nbsp;LookOn.vn là ứng dụng trung gian kết nối và xử lý thông tin khách hàng và phân tích insight khách hàng dựa trên hệ thống dữ liệu lớn từ Datalytis</p> #1# *@
                    @* $1$ <p>–&nbsp;&nbsp; &nbsp;LookOn.vn tôn trọng và nghiêm túc thực hiện các quy định của pháp luật về bảo vệ quyền lợi của người tiêu dùng. Vì vậy, đề nghị khách hàng cung cấp đầy đủ, chính xác, trung thực và chi tiết các thông tin liên quan đến bất động sản và dịch vụ khác liên quan (nếu có</p> #1# *@
                    @* $1$ <p>–&nbsp;&nbsp; &nbsp;Trong trường hợp phát sinh mâu thuẫn, khiếu nại, tranh chấp các bên sẽ ưu tiên giải quyết bằng biện pháp thương lượng, hòa giải. Trong trường hợp thương lượng, hòa giải không thành công thì LookOn.vn yêu cầu các bên gửi đơn đến cơ quan nhà nước có thẩm quyền để giải quyết theo quy định của pháp luật.</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>2.&nbsp;&nbsp; &nbsp;Quy trình tiếp nhận và giải quyết khiếu nại, tranh chấp:</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>–&nbsp;&nbsp; &nbsp;Bước 1: Tất cả các yêu cầu giải quyết khiếu nại, tranh chấp sẽ được chuyển đến Bộ phận Chăm sóc khách hàng để tiếp nhận.<br>Hotline: hotro@LookOn.vn<br>–&nbsp;&nbsp; &nbsp;Bước 2: Bộ phận Chăm sóc khách hàng sẽ tiếp nhận các khiếu nại nhanh chóng kịp thờitiến hành xác minh lại những thông tin được cung cấp (qua nhân viên có liên quan, và nội dung thông tin trên LookOn.vn) và chuyển yêu cầu giải quyết khiếu nạitranh chấp sang Bộ phận Kinh doanh để đưa ra phương án giải quyết.<br>–&nbsp;&nbsp; &nbsp;Bước 3: Bộ phận Kinh doanh đề xuất phương án giải quyết khiếu nại, tranh chấp và phản hồi Bộ phận Chăm sóc khách hàng.<br>–&nbsp;&nbsp; &nbsp;Bước 4: Bộ phận Chăm sóc khách hàng xin ý kiến phê duyệt của Ban Giám đốc.<br>–&nbsp;&nbsp; &nbsp;Bước 5: Ban Giám đốc xem xét và phê duyệt phương án giải quyết khiếu nại, tranh chấp.<br>–&nbsp;&nbsp; &nbsp;Bước 6: Bộ phận Chăm sóc khách hàng phản hồi với người có yêu cầu giải quyết khiếu nại, tranh chấp về nội dung khiếu nại, tranh chấp và phương án giải quyết khiếu nại, tranh chấp (nếu có).<br>Trường hợp người có yêu cầu khiếu nại, tranh chấp đồng ý với nội dung và phương án giải quyết khiếu nại, tranh chấp thì quy trình tiếp nhận giải quyết khiếu nại, tranh chấp kết thúc.<br>Trường hợp người có yêu cầu khiếu nại, tranh chấp không đồng ý với phương án giải quyết khiếu nại, tranh chấp và yêu cầu giải quyết lại thì yêu cầu giải quyết lại khiếu nại, tranh chấp được Bộ phận Chăm sóc khách hàng tiếp nhận. Quy trình lặp lại các Bước 2,3,4,5 và 6. Tại Bước 6, nếu thành viên vẫn không đồng ý với phương án giải quyết khiếu nại, tranh chấp mà Bộ phận Chăm sóc khách hàng đưa ra, người có yêu cầu khiếu nại, tranh chấp có quyền khởi kiện tại tòa án hoặc trọng tài theo các quy định của pháp luật.</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>IV.&nbsp;&nbsp; &nbsp;Đảm bảo an toàn giao dịch</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>–&nbsp;&nbsp; &nbsp;LookOn.vn luôn cố gắng bảo vệ những thông tin được đăng trên LookOn.vn đa dạng và chính xác nhất có thể. LookOn.vn sẽ nỗ lực tối đa và nghiêm túc loại bỏ những thông tin không trung thực, không chính xác hoặc/và có hàm ý thiếu lành mạnh, minh bạch.<br><br></p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>V.&nbsp;&nbsp; &nbsp;Bảo vệ thông tin thành viên</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>1.&nbsp;&nbsp; &nbsp; Mục đích và phạm vi thu thập thông tin:</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>LookOn.vn luôn cố gắng để những thông tin được đăng trên trang LookOn.vn là hữu ích và chính xác nhất. Để thực hiện điều đó, LookOn.vn yêu cầu thành viên phải cung cấp đầy đủ và chính xác mọi thông tin tại LookOn.vn<br>Các thông tin mà LookOn.vn có thể thu thập từ thành viên bao gồm: họ tên, giới tính, ngày sinh, email, mã số thuế, địa chỉ, điện thoại, nghề nghiệp, nơi làm việc và các thông tin cần thiết khác.</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>2.&nbsp;&nbsp; &nbsp;Phạm vi sử dụng thông tin:</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>Các thông tin được thành viên cung cấp có thể dùng vào các mục đích sau:<br>–&nbsp;&nbsp; &nbsp;Cung cấp dịch vụ trên LookOn.vn mà thành viên yêu cầu;<br>–&nbsp;&nbsp; &nbsp;Phân tích, đánh giá và hoàn thiện sản phẩm, dịch vụ<br>–&nbsp;&nbsp; &nbsp;Phân tích Inisight hành vi khách hàng dựa vào dữ liệu lớn từ Datalytis<br>–&nbsp;&nbsp; &nbsp;Nâng cao mối tương tác và liên kết với thành viên;<br>–&nbsp;&nbsp; &nbsp;Giải quyết các vấn đề tranh chấp, khiếu nại phát sinh liên quan đến việc sử dụng LookOn.vn;<br>–&nbsp;&nbsp; &nbsp;Ngăn chặn những hoạt động vi phạm pháp luật tại Việt Nam.<br>Nếu không có sự đồng ý của thành viên, LookOn.vn sẽ không cung cấp bất kỳ thông tin nào liên quan đến thành viên cho bên thứ ba để sử dụng vớimục đích quảng cáo.</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>3.&nbsp;&nbsp; &nbsp;Thời gian lưu trữ thông tin:</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>Các thông tin của thành viên được lữu trữ trong một thời gian cần thiết, nhằm phục vụ cho các yêu cầu thành viên đưa ra.<br>Thành viên có thể yêu cầu LookOn.vn xóa dữ liệu cá nhân khi đã chấm dứt là thành viên của LookOn.vn.</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>4.&nbsp;&nbsp; &nbsp;Địa chỉ của đơn vị chủ quản Sàn giao dịch thương mại điện tử LookOn.vn:</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>Công ty Cổ phần Công Nghệ Datalytis<br>Địa chỉ: Lầu 1, H3 Building, 384 Hoàng Diệu , Phường 6, Quận 4, Thành phố Hồ Chí Minh<br>Tel: 0902882355/ &nbsp;Email:&nbsp;hotro@LookOn.vn</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>5.&nbsp;&nbsp; &nbsp;Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu thành viên:</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>Các thành viên được cấp một tài khoản bao gồm tên tài khoản và mật khẩu để truy cập LookOn.vn. Sau khi đăng nhập, thành viên có quyền sử dụng mọi dịch vụ, tiện ích được cung cấp trên LookOn.vn theo đúng chức năng, quyền hạn lựa chọn và được phân quyền.</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>6.&nbsp;&nbsp; &nbsp;Cam kết bảo mật thông tin thành viên:</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>–&nbsp;&nbsp; &nbsp;LookOn.vn cam kết sẽ bảo mật các thông tin của thành viên, nỗ lực và sử dụng các biện pháp thích hợp để bảo mật các thông tin mà thành viên cung cấp cho LookOn.vn trong quá trình sử dụng dịch vụ trên LookOn.vn.<br>–&nbsp;&nbsp; &nbsp;Không bán, chuyển giao dữ liệu thông tin cho bên thứ ba, khi chưa được sự cho phép của thành viên ngoại trừ trường hợp theo yêu cầu cung cấp thông tin thành viên của cơ quan nhà nước có thẩm quyền bằng văn bản hoặc pháp luật có quy định khác. &nbsp;<br>–&nbsp;&nbsp; &nbsp;Trong trường hợp máy chủ lưu trữ thông tin thành viên bị tấn công dẫn đến mất dữ liệu thành viên, LookOn.vn sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.<br>–&nbsp;&nbsp; &nbsp;Nếu xét thấy thông tin của thành viên cung cấp trên LookOn.vn là không chính xác, LookOn.vn sẽ tiến hành hủy toàn bộ những nội dung của thành viên đó được đăng tải trên LookOn.vn.<br>–&nbsp;&nbsp; &nbsp;Thành viên cần cung cấp thông tin trong các trường hợp sau:<br><strong>•</strong>&nbsp; Truy cập, đặt mua, sử dụng dịch vụ LookOn.vn;<br><strong>•</strong>&nbsp; Yêu cầu báo giá, cung cấp thông tin, dịch vụ hoặc hỗ trợ;<br><strong>•</strong>&nbsp; Tham gia khảo sát ý kiến, dự thi có thưởng, hoặc các hoạt động khuyến mại, quảng bá khác;<br><strong>•</strong>&nbsp; Đăng ký nhận tin thư, email quảng cáo hoặc các loại tin tức khác;<br><strong>•</strong>&nbsp; Đăng ký tham dự tuyển dụng, gửi hồ sơ, lý lịch;<br><strong>•</strong>&nbsp;Việc thu thập và sử dụng thông tin thành viên chỉ được thực hiện khi có sự đồng ý của thành viên bằng cách đăng ký tài khoản trên LookOn.vn.</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>VIII.&nbsp;&nbsp; &nbsp;Quản lý thông tin xấu</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>1.&nbsp;&nbsp; &nbsp;Quy định chung:</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>–&nbsp;&nbsp; &nbsp;Khi đăng ký tài khoản: không được khai báo những thông tin giả mạo; đăng ký tên tài khoản gây hiểu nhầm với những thành viên khác, tên tài khoản trùng tên với tên của các chính trị gia;…<br>–&nbsp;&nbsp; &nbsp;Không được đăng tin liên quan đến các vấn đề mà Pháp luật Việt Nam không cho phép;<br>–&nbsp;&nbsp; &nbsp;Không đượcđăng những bài viết, thông tin có nội dung vi phạm pháp luật, đả kích, bôi nhọ, chỉ trích hay bàn luận về chính trị, tôn giáo, phản động, kỳ thị văn hóa, dân tộc, cũng như vi phạm khác liên quan đến thuần phong mỹ tục của dân tộc Việt Nam;<br>–&nbsp;&nbsp; &nbsp;Không đượcxâm phạm quyền lợi, uy tín, đời tư của các cá nhân hay thành viên khác, không được dùng ngôn từ tục tĩu, trái thuần phong mỹ tục của dân tộc Việt Nam trong các thông tin tham gia;<br>–&nbsp;&nbsp; &nbsp;Không được lợi dụng LookOn.vn để tuyên truyền, đề xướng, lôi kéo với những nội dung không lành mạnh;<br>–&nbsp;&nbsp; &nbsp;Phải dùng ngôn từ trong sáng, rõ ràng, đúng chính tả, nghiêm cấm mọi hình thức “viết nhịu”, viết tắt, ký tự đặc biệt, ngôn ngữ tối nghĩa;</p> #1# *@
                    @* $1$ <p> #1# *@
                    @* $1$     <strong>IX.&nbsp;&nbsp; &nbsp;Trách nhiệm trong trường hợp phát sinh lỗi kỹ thuật</strong> #1# *@
                    @* $1$ </p> #1# *@
                    @* $1$ <p>–&nbsp;&nbsp; &nbsp;LookOn.vn cam kết nỗ lực đảm bảo sự an toàn và ổn định của toàn bộ hệ thống kỹ thuật. Trong trường hợp xảy ra sự cố do lỗi của LookOn.vn, LookOn.vn sẽ ngay lập tức áp dụng các biện pháp khắc phục để đảm bảo quyền lợi cho thành viên.<br>–&nbsp;&nbsp; &nbsp;Ban quản trị LookOn.vn cam kết cung cấp dịch vụ với chất lượng tốt nhất cho các thành viên tham gia giao dịch. Trường hợp phát sinh lỗi kỹ thuật, lỗi phần mềm hoặc các lỗi khách quan khác dẫn đến thành viên không thể tham gia giao dịch được thì các thành viên thông báo cho Ban quản trị LookOn.vn theo địa chỉ sau:<br>Hotline: (024) 35625939<br>Email:&nbsp;hotro@LookOn.vn<br>–&nbsp;&nbsp; &nbsp;Ban quan trị LookOn.vn sẽ thông báo đến các thành viên khi có sự cố kỹ thuật. Trong trường hợp bị hacker tân công Ban quản trị sẽ cố gắng bảo vệ các dữu liệu cá nhân của Thành viên. Thành viên có trách nhiệm phối hợp với Ban quản trị khi có yêu cầu xác minh các thông tin liên quan.<br>–&nbsp;&nbsp; &nbsp;Ban quản trị LookOn.vn không chịu trách nhiệm giải quyết trong trường hợp thông báo của các thành viên không đến được Ban quản trị, hoặc các lỗi phát sinh từ kỹ thuật, đường truyền, phần mềm hoặc các lỗi khác không do lỗi của LookOn.vn.</p> #1# *@
                    @* $1$ <p>Mọi thắc mắc của thành viên xin vui lòng liên hệ với LookOn.vn theo thông tin dưới đây để được giải đáp.<br><br><strong>Công ty Cổ phần Công Nghệ Datalytis<br></strong>Địa chỉ: Lầu 1, H3 Building, 384 Hoàng Diệu , Phường 6, Quận 4, Thành phố Hồ Chí Minh<br>Tel: 0902882355/ &nbsp;Email:&nbsp;hotro@LookOn.vn</p> #1# *@
                    @* <p><br><br>Xin chân thành cám ơn quý thành viên đã tham gia sử dụng dịch vụ của LookOn.vn<br>LookOn.vn sẽ cố gắng duy trì và cung cấp dịch vụ ngày càng tốt hơn, đáp ứng được mong muốn tìm sự thấu hiểu khách hàng mua hàng của webbsite.</p> *@
                    <iframe class="iframe-terms-of-user" src="https://lookon.vn/terms-of-use/"></iframe>
                </section>
            </abp-row>
            <abp-row>

                <abp-column size-md="_10"><abp-input class="agree-term-margin" asp-for="@Model.AgreeTerm" label="@($"&nbsp;{L["AgreeCheck"].Value}")"/></abp-column>
                <abp-column>
                    <abp-button class="float-end" type="submit" button-type="Primary" icon="fa-check" icon-type="FontAwesome" busy-text="@L["SavingWithThreeDot"].Value" text="@L["AgreeTermBtn"].Value"></abp-button>
                </abp-column>
                </abp-row>
        </abp-modal-body>
        <abp-modal-footer>

        </abp-modal-footer>
    </abp-modal>
</form>