@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LookOn.Localization
@using LookOn.Web.Pages.MerchantSyncInfos
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LookOn.MerchantSyncInfos;
@using System.Globalization
@inject IHtmlLocalizer<LookOnResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/MerchantSyncInfos/EditModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-input asp-for="Id" />
            
            <abp-input asp-for="MerchantSyncInfo.MerchantEmail"/>

                        <label for="Merchant_Email">@L["Merchant"] </label>
            <div class="input-group mb-3">
                <input hidden value="@(Model.MerchantSyncInfo.MerchantId  )" id="Merchant_Id" name="MerchantSyncInfo.MerchantId"/>
                <input type="text" id="Merchant_Email" class="form-control" value="@Model.Merchant?.Email" disabled>
                <abp-button button-type="Info" id="MerchantLookupOpenButton" class="text-light">@L["Pick"]</abp-button>
                <abp-button button-type="Danger" class="lookupCleanButton ms-1"><i class="fa fa-times"></i></abp-button>
            </div>

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>