@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LookOn.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IHtmlLocalizer<LookOnResource> L
@model LookOn.Web.Pages.MerchantConnects.ConnectCommunityModalModel
@{
    Layout = null;
}

<form id="formSaveCommunityModal" data-ajaxForm="true" method="post" asp-page="/MerchantConnects/ConnectCommunityModal" autocomplete="off">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@L["ConnectCommunityPage"]</h5>
                    <button type="button" class="btn display-inline-bl shadow-none float-end opacity-50" data-toggle="tooltip" data-bs-placement="left" title="@L["ConnectCommunity.HintText"].Value">
                        <i class="fa fa-info-circle font-size-25 icon-connect-modal" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body" style="padding-top: 5px; padding-bottom: 0 !important;">
                    <abp-input suppress-label="true" placeholder="@L["ConnectCommunity.SocialCommunityName"]" asp-for="SocialCommunityName"/>
                    <div class="text-center veek-support-current-font" style="margin-top: -15px;padding-bottom: 0.5rem;font-style: oblique;">
                        (@L["ConnectCommunity.SocialCommunityHint"])
                    </div>
                    <abp-input suppress-label="true" placeholder="@L["ConnectCommunity.CommunityUrl"]" asp-for="CommunityUrl"/>
                    <abp-input suppress-label="true" placeholder="@L["ConnectCommunity.Description"]" asp-for="Description"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@L["Cancel"]</button>
                    <button type="submit" class="btn btn-primary" id="btnSaveCommunityModal">@L["Save"]</button>
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>
</form>