@page "/merchant-staffs"
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using LookOn.Permissions
@using LookOn.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using LookOn.Localization
@inject IHtmlLocalizer<LookOnResource> L
@inject IAuthorizationService Authorization
@model LookOn.Web.Pages.MerchantStaffs.IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["MerchantStaffs"].Value;
    PageLayout.Content.MenuItemName = LookOnMenus.MerchantStaffs;
}

@section scripts
{
    @if (Model.IsMerchantRole())
    {
        <abp-script src="/Pages/MerchantStaffs/merchantIndex.js"/>
    }
    else
    {
        <abp-script src="/Pages/MerchantStaffs/index.js"/>
    }
}

@section content_toolbar {
    @if (await Authorization.IsGrantedAsync(LookOnPermissions.MerchantStaffs.Create))
    {
        <abp-button id="NewMerchantUserButton" text="@L["NewMerchantStaff"].Value" icon="plus" button-type="Primary"/>
    }
}

<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            @if (Model.IsAdminRole())
            {
                <abp-column size-md="_12" class="mt-3">
                    <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
                </abp-column>
            }
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-select asp-for="AppUserIdFilter" label="@L["User"].Value"/>
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="IsActiveFilter" label="@L["IsActive"].Value"/>
            </abp-column>
            <abp-column size="_3">
                <label for="Merchant_Filter_Name">@L["Merchant"]</label>
                <div class="input-group mb-3 mt-2">
                    <input hidden id="MerchantIdFilter" value="@Model.MerchantIdFilter"/>
                    <input type="text" id="Merchant_Filter_Name" class="form-control" disabled>
                    <abp-button button-type="Info" id="MerchantFilterLookupOpenButton" class="text-light">@L["Pick"]</abp-button>
                    <abp-button button-type="Danger" class="lookupCleanButton ms-1">
                        <i class="fa fa-times"></i>
                    </abp-button>
                </div>
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="MerchantUsersTable">
            <thead>
            @if (Model.IsMerchantRole())
            {
                <tr>
                    <td>@L["User"]</td>
                </tr>
            }
            else
            {
                <tr>
                    <th>@L["Actions"]</th>
                    <th>@L["User"]</th>
                    <th>@L["Merchant"]</th>
                    <th>@L["IsActive"]</th>
                </tr>
            }
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>