@page "/account-info"
@using LookOn.Localization
@using LookOn.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model LookOn.Web.Pages.UserInfos.Manage
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<LookOnResource> L

@{
    PageLayout.Content.Title = L["Menu:AccountInfo"].Value;
    PageLayout.Content.MenuItemName = LookOnMenus.ManageUserInfo;
}

@section scripts
{
    <abp-script src="/Pages/UserInfos/ManageAccountInfo.js"/>
}

<form id="formUpdateInfo" method="post" data-ajaxForm="true" asp-page="/UserInfos/ManageAccountInfo" autocomplete="off" enctype="multipart/form-data">
    <abp-row>
        <abp-column size-md="_6">
            <abp-card>
                <abp-card-body>
                    <h3>@L["AccountInfo.Title"]</h3>
                    <abp-input asp-for="AppUser.IsActive" type="hidden"/>
                    <abp-input asp-for="AppUser.IsLockedOut" type="hidden"/>
                    <abp-input asp-for="AppUser.UserName" type="hidden"/>
                    <abp-input asp-for="AppUser.Name" label="@L["AccountInfo.Name"].Value"/>
                    <abp-input asp-for="AppUser.Surname" label="@L["AccountInfo.Surname"].Value"/>
                    <abp-input asp-for="AppUser.Email" label="@L["AccountInfo.Email"].Value" readonly="true"/>
                    <abp-input asp-for="PhoneNumber" label="@L["AccountInfo.PhoneNumber"].Value"/>
                    <abp-input asp-for="PictureInfoModel.Picture" accept="image/*" label="@L["AccountInfo.SelectNewImage"].Value"/>
                </abp-card-body>
                <hr class="divider"/>
                <abp-card-body>
                    <h3>@L["AccountInfo.Personal"]</h3>
                    <abp-input asp-for="UserInfo.Id" type="hidden"/>
                    <abp-input asp-for="UserInfo.AppUserId" type="hidden"/>
                    <abp-input asp-for="IdentificationNumber" label="@L["AccountInfo.IdentificationNumber"].Value"/>
                </abp-card-body>
                <abp-card-footer>
                    <abp-button button-type="Primary" id="btnUpdateInfo" type="submit" class="mt-2 mb-3 float-end">@L["Save"].Value</abp-button>
                </abp-card-footer>
            </abp-card>
        </abp-column>

    </abp-row>
</form>