@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Lepton.Themes.Lepton.Components.Content.Alerts
@model LookOn.Pages.Account.CustomForgotPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout

@section scripts {
    @* <abp-script src="/Pages/Account/ForgotPassword.js"/> *@
}

<div class="mt-5">
    <abp-column>
        <h2>@L["ForgotPassword"]</h2>
    </abp-column>
    <abp-row>
        <form method="post">
            <abp-column>
                <p>@L["SendPasswordResetLink_Information"]</p>
            </abp-column>
    
            <abp-column>
                <abp-row>
                    <abp-input asp-for="Email"/>
                </abp-row>
            </abp-column>
            <abp-column style="display: flex;align-items: center;justify-content: space-between;">
                <a asp-page="./Login" asp-all-route-data="@(new Dictionary<string, string> { { "returnUrl", Model.ReturnUrl }, { "returnUrlHash", Model.ReturnUrlHash } })">
                    <i class="fa fa-long-arrow-left"></i> @L["Login"]
                </a>
                <div class="gap-2">
                    <abp-button id="resetPassSending" button-type="Primary" type="submit">@L["Submit"]</abp-button>
                </div>
            </abp-column>
        </form>
    </abp-row>
</div>