@page "/Account/LoggedOut"
@model Volo.Abp.Account.Public.Web.Pages.Account.LoggedOutModel
@using Volo.Abp.Account.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Public.Web.Pages.Account
@inject IHtmlLocalizer<AccountResource> L

@section scripts {
    <abp-script-bundle name="@typeof(LoggedOutModel).FullName">
        <abp-script src="/Pages/Account/LoggedOut.js"/>
    </abp-script-bundle>
}

@section styles {
    <abp-style src="/Pages/Account/LoggedOut.css"/>
}

<div class="mt-5">
    <abp-column>
        <h2>@L["LoggedOutTitle"]</h2>
    </abp-column>
    <abp-column>
        <p>@L["LoggedOutText"]</p>
    </abp-column>
    <abp-row>
        @if (Model.PostLogoutRedirectUri != null)
        {
            <a abp-button="Primary" id="redirectButton" href="@Model.PostLogoutRedirectUri" cname="@Model.ClientName">@L["ReturnToText"]</a>
        }
        @if (Model.SignOutIframeUrl != null)
        {
            <iframe class="signout logoutiframe" src="@Model.SignOutIframeUrl"></iframe>
        }
    </abp-row>
</div>