@page
@model Volo.Abp.Account.Public.Web.Pages.Account.PasswordResetLinkSentModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@using LookOn.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.Account.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Blockquote
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@inject IHtmlLocalizer<AccountResource> L
@inject IHtmlLocalizer<LookOnResource> Lv
@{
    PageLayout.Content.Title = L["ForgotPassword"].Value;
}

<div class="mt-5">
    <abp-column>
        <h2>@L["ForgotPassword"]</h2>
    </abp-column>
    <abp-row>
        <div id="account_module_password_reset_page_content">
            <abp-column style="padding-bottom: 5px">@L["PasswordResetMailSentMessage"]</abp-column>
            <abp-column>@Lv["Thank"]</abp-column>
            <abp-column class="mt-4">
                <a abp-button="Primary" asp-page="./Login" asp-all-route-data="@(new Dictionary<string, string> { { "returnUrl", Model.ReturnUrl }, { "returnUrlHash", Model.ReturnUrlHash } })">&larr; @L["BackToLogin"]</a>
            </abp-column>
        </div>
    </abp-row>
</div>