@page
@inject IHtmlLocalizer<AccountResource> L
@inject IHtmlLocalizer<LookOnResource> Lv
@using LookOn.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.Account.Localization
@model LookOn.Pages.Account.CustomResetPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ResetPassword"].Value;
}
@section scripts {
    <abp-script src="/Pages/Account/ResetPassword.js"/>
}
<div class="account-module-form mt-5">
    <abp-row>
        <h2>@L["ResetPassword"]</h2>
    </abp-row>
    <abp-row>
        <form method="post" asp-page="/Account/ResetPassword">
            <p>@L["ResetPassword_Information"]</p>

            <abp-input asp-for="UserId"/>
            <abp-input asp-for="ResetToken"/>
            @* <abp-input asp-for="Password" id="password" label="@Lv["NewPassword"].Value"> *@
            @* </abp-input> *@
            @* <abp-input asp-for="ConfirmPassword" id="confirmPassword" label="@Lv["ConfirmPassword"].Value"> *@
            @* </abp-input> *@
            <div class="mb-3">
                <div asp-for="Password">@Lv["NewPassword"].Value</div>
                <input type="password" data-val="true" asp-for="Password" class="form-control" style="display: inline"/>
                <i style="margin-left: -30px;cursor: pointer;" class="bi bi-eye-slash" id="togglePassword"></i>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <div asp-for="ConfirmPassword">@Lv["ConfirmPassword"].Value</div>
                <input type="password" data-val="true" asp-for="ConfirmPassword" class="form-control" style="display: inline"/>
                <i style="margin-left: -30px;cursor: pointer;" class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <a abp-button="Secondary" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">@L["Cancel"]</a>
            <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value"/>
        </form>
    </abp-row>
</div>